<!DOCTYPE html>
<html>
  <head>
    <% include src/ejs/head.ejs %>
    <title>page1</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
  </body>
</html>
